[Unit]
Description=Docker {{ project_name }}
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/home/{{ username }}/{{ project_name }}/start.sh
ExecStop=/home/{{ username }}/{{ project_name }}/stop.sh
User={{ username }}
Group={{ username }}

[Install]
WantedBy=default.target
