html {
    font: normal 15px / 2em Helvetica, Arial, sans-serif;
}
body {
    margin: 0;
}

.content {
    padding: 0 1em 1em;
}

.menu {
    background: #494949;
    padding-left: 2em;
}
    .menu .item {
        display: inline-block;
    }
        .menu .item a {
            color: #fff;
            font-weight: bold;
            padding: 0.5em 1em;
            text-decoration: none;
        }
        .menu .item a:hover {
            color: #999;
        }

.message {
    background: #fff5cf;
    border: 1px dotted #999;
    border-radius: 8px;
    color: green;
    padding: 0.5em 1em;
}

.note {
    background: #f6f6f6;
    border: 1px dotted #999;
    border-radius: 8px;
    color: #5d5d5d;
    font-size: 0.9em;
    line-height: 1.5em;
    margin-top: 4em;
    padding: 0.5em 1em;
}

.error {
    color: red;
}
.js_async_task_pending {
    color: blue;
}
.js_async_task_failure {
    color: red;
}
.js_async_task_success {
    color: green;
}

.order_table th {
    background: #999;
    padding: 0 5px;
}
.order_table td {
    padding: 0 5px;
    margin: 0;
}
.order_table tr:nth-child(2n) td {
    background: #eee;
}
.order_table tr:hover td {
    background: #ebebfc;
}
