{% extends "base.html" %}

{% block content %}
    {% if error %}
        <p class="error">Ошибка импорта</p>
        {% if error_text %}
            <p class="error error_text">{{ error_text }}</p>
        {% endif %}
    {% else %}
        {% if error_text %}
            <p class="error">{{ error_text }}</p>
        {% endif %}
    {% endif %}

    {% if message %}
        <p class="message">{{ message }}</p>
    {% else %}
        <ul>
            {% for item in items %}
                <li>{{ item.order.name }}: {{ item.count_all }} <a href="{% url 'order_update' order_id=item.order.pk %}">update</a> <a href="{% url 'order_delete' order_id=item.order.pk %}">delete</a>
                    <ul>
                        {% for key, count in item.count.items %}
                            {% if count > 0 %}
                                <li><strong>{{ key }})</strong> <a href="{% url 'order_table' order_id=item.order.pk status=key %}">{{ count }}</a> - <a href="{% url 'get_csv_file' order_id=item.order.pk status=key %}">get csv</a> - <a href="{% url 'get_xls_file' order_id=item.order.pk status=key %}" target="_blank">get xls</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>

        <div>
            <strong>0)</strong> совпадение не найдено<br>
            <strong>1)</strong> название, автор, переплет<br>
            <strong>2)</strong> название, автор<br>
            <strong>3)</strong> название<br>
            <strong>4)</strong> ISBN<br>
        </div>
    {% endif %}
{% endblock %}
