html {
    font: normal 15px / 2em Helvetica, Arial, sans-serif;
}

.error {
    color: red;
}

.message {
    color: green;
}

.menu {

}
    .menu .item {
        display: inline-block;
    }
        .menu .item a {
            padding: 0.5em;
        }
